#üíæ **Importando JSON.**

##üìå Bibliotecas.

In [279]:
import pandas as pd
import requests
from pandas import json_normalize
import numpy as np
import re

In [280]:
url = "https://raw.githubusercontent.com/EuniceGarcia503/Challenge2_TelecomX_LATAM/refs/heads/main/TelecomX_Data.json"
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."


*   customerID: n√∫mero de identificaci√≥n √∫nico de cada cliente
*   Churn: si el cliente dej√≥ o no la empresa
*   gender: g√©nero (masculino y femenino)
*   SeniorCitizen: informaci√≥n sobre si un cliente tiene 65 a√±os o m√°s
*   Partner: si el cliente tiene pareja o no
*   Dependents: si el cliente tiene dependientes o no
*   tenure: meses de contrato del cliente
*   PhoneService: suscripci√≥n de servicio telef√≥nico
*   MultipleLines: suscripci√≥n a m√°s de una l√≠nea de tel√©fono
*   InternetService: suscripci√≥n a un proveedor de internet
*   OnlineSecurity: suscripci√≥n adicional de seguridad online
*   OnlineBackup: suscripci√≥n adicional de backup online
*   DeviceProtection: suscripci√≥n adicional de protecci√≥n en el dispositivo
*   TechSupport: suscripci√≥n adicional de soporte t√©cnico, menos tiempo de espera
*   StreamingTV: suscripci√≥n de TV por cable
*   StreamingMovies: suscripci√≥n de streaming de pel√≠culas
*   Contract: tipo de contrato
*   PaperlessBilling: si el cliente prefiere recibir la factura online
*   PaymentMethod: forma de pago
*   Charges.Monthly: total de todos los servicios del cliente por mes
*   Charges.Total: total gastado por el cliente

#üß∞ **Transformaci√≥n.**

##üõ†Ô∏è **Normalizaci√≥n de Columnas.**

In [281]:
df_telecomX_normalizado = pd.json_normalize(data)
df_telecomX_normalizado.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

##üõ†Ô∏è **Identificaci√≥n de Inconsistencias en Datos.**

In [282]:
# C√≥digo para Verificaci√≥n de Valores √önicos por Columna.
print(f"üìùResumen para Verificaci√≥n de Valores √önicos por Columna.\n")
for col in df_telecomX_normalizado.columns:
  print(f"üü£ Columna: '{col}': {df_telecomX_normalizado[col].nunique()}\n")

  if df_telecomX_normalizado[col].nunique() < 50: # Imprima los valores solamente si no hay muchos
    print(f"\t‚úèÔ∏è valores = {df_telecomX_normalizado[col].unique()}\n")
  print('-' * 50)  # L√≠nea divisoria para mejor visualizaci√≥n

üìùResumen para Verificaci√≥n de Valores √önicos por Columna.

üü£ Columna: 'customerID': 7267

--------------------------------------------------
üü£ Columna: 'Churn': 3

	‚úèÔ∏è valores = ['No' 'Yes' '']

--------------------------------------------------
üü£ Columna: 'customer.gender': 2

	‚úèÔ∏è valores = ['Female' 'Male']

--------------------------------------------------
üü£ Columna: 'customer.SeniorCitizen': 2

	‚úèÔ∏è valores = [0 1]

--------------------------------------------------
üü£ Columna: 'customer.Partner': 2

	‚úèÔ∏è valores = ['Yes' 'No']

--------------------------------------------------
üü£ Columna: 'customer.Dependents': 2

	‚úèÔ∏è valores = ['Yes' 'No']

--------------------------------------------------
üü£ Columna: 'customer.tenure': 73

--------------------------------------------------
üü£ Columna: 'phone.PhoneService': 2

	‚úèÔ∏è valores = ['Yes' 'No']

--------------------------------------------------
üü£ Columna: 'phone.MultipleLines': 3

	‚úèÔ∏è valores = ['No' 'Yes' 'No phone service']

--------------------------------------------------
üü£ Columna: 'internet.InternetService': 3

	‚úèÔ∏è valores = ['DSL' 'Fiber optic' 'No']

--------------------------------------------------
üü£ Columna: 'internet.OnlineSecurity': 3

	‚úèÔ∏è valores = ['No' 'Yes' 'No internet service']

--------------------------------------------------
üü£ Columna: 'internet.OnlineBackup': 3

	‚úèÔ∏è valores = ['Yes' 'No' 'No internet service']

--------------------------------------------------
üü£ Columna: 'internet.DeviceProtection': 3

	‚úèÔ∏è valores = ['No' 'Yes' 'No internet service']

--------------------------------------------------
üü£ Columna: 'internet.TechSupport': 3

	‚úèÔ∏è valores = ['Yes' 'No' 'No internet service']

--------------------------------------------------
üü£ Columna: 'internet.StreamingTV': 3

	‚úèÔ∏è valores = ['Yes' 'No' 'No internet service']

--------------------------------------------------
üü£ Columna: 'internet.StreamingMovies': 3

	‚úèÔ∏è valores = ['No' 'Yes' 'No internet service']

--------------------------------------------------
üü£ Columna: 'account.Contract': 3

	‚úèÔ∏è valores = ['One year' 'Month-to-month' 'Two year']

--------------------------------------------------
üü£ Columna: 'account.PaperlessBilling': 2

	‚úèÔ∏è valores = ['Yes' 'No']

--------------------------------------------------
üü£ Columna: 'account.PaymentMethod': 4

	‚úèÔ∏è valores = ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

--------------------------------------------------
üü£ Columna: 'account.Charges.Monthly': 1585

--------------------------------------------------
üü£ Columna: 'account.Charges.Total': 6531

--------------------------------------------------

In [283]:
# Verificando si hay duplicados
print(f"üìù Resumen de Verificaci√≥n de Datos duplicados y N√∫los.\n")
duplicados = df_telecomX_normalizado.duplicated().sum()
print(f"üü£ N√∫mero de l√≠neas duplicadas:\n")

if  duplicados:
    print(f"\tüî∏{duplicados}")
else:
    print("   ‚úÖ No hay registros duplicados.")


# Verificando si hay valores Nulos
valores_nulos = df_telecomX_normalizado.isnull().sum()
valores_nulos.name = 'Valores Nulos'
valores_nulos_filtrados = valores_nulos[valores_nulos > 0]

print(f"\nüü£ Valores nulos por columna:\n")
if not valores_nulos_filtrados.empty:
    for columna, cantidad in valores_nulos_filtrados.items():
        print(f"\tüî∏ {columna}: {cantidad}")
else:
    print("   ‚úÖ No hay columnas con datos nulos.\n")
    display(valores_nulos)

üìù Resumen de Verificaci√≥n de Datos duplicados y N√∫los.

üü£ N√∫mero de l√≠neas duplicadas:

   ‚úÖ No hay registros duplicados.

üü£ Valores nulos por columna:

   ‚úÖ No hay columnas con datos nulos.

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
Name: Valores Nulos, dtype: int64

In [284]:
#c√≥digo para calcular valores sin registro
valores_blanco_vacio = df_telecomX_normalizado.apply(lambda x: x.astype(str).str.strip() == '').sum()
valores_blanco_vacio.name = 'Registro en blanco'
print("\nüìù Resumen para Registros en Blanco por Columna.\n")
display(valores_blanco_vacio)

üìù Resumen para Registros en Blanco por Columna.

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total         11
Name: Registro en blanco, dtype: int64

In [285]:
df_telecomX_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [286]:
#1. Columna 'SeniorCitizen'(0,1)(objet)Se puede convertir sus valores a 'Yes' o 'No'
#2. Columnas 'Contract y 'PaymentMethod' podr√≠amos unir palabras por un guion (-) para tokenizar
#3. Columna 'PaymentMethod' remover (), reemplazar espacios por guion.
#4. Columna 'Charges.Total' convertir a tipo float64.
#5. Columnas 'Churn' ''
#6. Tratamiento preventivo para columnas tipo texto: Remover espacios al inicio y final,convertimos a min√∫scula, removemos valores nulos por desconocido.
#7. Tratamiento preventivo para columnas con caracteres numericos y conversi√≥n tipo float64.

##üõ†Ô∏è **Manejo de Inconsistencias en Datos.**

In [287]:
#Tratamiento m√≠nimo para columnas tipo cadena de texto.
#Remover espacios al inicio y final,convertimos a min√∫scula, removemos valores nulos por desconocido.
df_telecomX_normalizado = df_telecomX_normalizado.apply(lambda x: x.astype(str).str.lower())

In [288]:
#Retornamos formato de id_cliente.
df_telecomX_normalizado['customerID'] = df_telecomX_normalizado['customerID'].astype(str).str.upper()

In [289]:
#Columnas 'Contract y 'PaymentMethod' podr√≠amos unir palabras por un guion (-) para tokenizar.
#Son las columnas cuyos registros deseamos unir con un guion.
columnas_espacios = ['account.Contract','account.PaymentMethod','internet.InternetService']
for col in columnas_espacios:
  df_telecomX_normalizado[col] = df_telecomX_normalizado[col].str.replace(' ','-')

In [290]:
#Columna 'Charges.Monthly','Charges.Total' Limpieza preventiva de caracteres menos numericos y el punto.
columnas_numericas = ['account.Charges.Monthly','account.Charges.Total']
for col in columnas_numericas:
  df_telecomX_normalizado[col] = pd.to_numeric(df_telecomX_normalizado[col].astype(str).str.replace(r'[^0-9.]','', regex=True), errors='coerce')

In [291]:
# Eliminar filas vacias en columna 'Churn'
df_telecomX_limpio = df_telecomX_normalizado[df_telecomX_normalizado['Churn'].str.strip() != ''].copy()
df_telecomX_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   object
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   object
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), object(19)
memory usage: 1.2+ MB

In [292]:
# Vac√≠os o en blanco
conteo_vacios = df_telecomX_limpio.apply(lambda x: x.astype(str).str.strip() == '').sum()

###üõ†Ô∏è **Cuentas Diarias.**

In [293]:
#Creo columna Cuentas_diarias.
df_telecomX_limpio['Cuentas_diarias'] = df_telecomX_limpio['account.Charges.Monthly']/30
df_telecomX_limpio['Cuentas_diarias']

0       2.186667
1       1.996667
2       2.463333
3       3.266667
4       2.796667
          ...
7262    1.838333
7263    2.836667
7264    1.676667
7265    2.261667
7266    1.966667
Name: Cuentas_diarias, Length: 7043, dtype: float64

In [294]:
columna_chargesM_cuenta_diaria = df_telecomX_limpio[['account.Charges.Monthly','Cuentas_diarias']].isna().sum()
print(columna_chargesM_cuenta_diaria)

account.Charges.Monthly    0
Cuentas_diarias            0
dtype: int64

###üõ†Ô∏è **Estandarizaci√≥n y Transformaci√≥n de Datos.**

####üî® **Para An√°lisis Exploratorio.**

In [301]:
#Traducci√≥n de columnas.
df_telecomX_limpio.columns = ['id_cliente','desersion','genero','a_mayor','pareja','dependientes','antiguedad','telefonia',
              'multilinea','internet','seguridad','respaldo','proteccion','soporte','tv','peliculas','contrato',
              'factura_online','m_pago','cargo_mensual','cargo_total','cuenta_diaria']

In [296]:
#Transformamos valores binarios solo para an√°lisis exploratorio.
df_telecomX_limpio['a_mayor'] = df_telecomX_limpio['a_mayor'].replace({'1':'yes','0':'no'})
df_telecomX_limpio['a_mayor']

0        no
1        no
2        no
3       yes
4       yes
       ...
7262     no
7263     no
7264     no
7265     no
7266     no
Name: a_mayor, Length: 7043, dtype: object

In [300]:
display(df_telecomX_limpio.head(2))

,id_cliente,desersion,genero,a_mayor,pareja,dependientes,antiguedad,telefonia,multilinea,internet,...,proteccion,soporte,tv,peliculas,contrato,factura_online,m_pago,cargo_mensual,cargo_total,cuenta_diaria
0,0002-ORFBO,no,female,no,yes,yes,9,yes,no,dsl,...,no,yes,yes,no,one-year,yes,mailed-check,65.6,593.3,2.186667
1,0003-MKNFE,no,male,no,no,no,9,yes,yes,dsl,...,no,no,no,yes,month-to-month,no,mailed-check,59.9,542.4,1.996667

####üîß **Para Modelado.**

In [298]:
"""
#Cambio a datos binarios.
col_dato_binario = ['desersion','pareja','dependientes','telefonia','factura_online']
for col in col_dato_binario:
  df_telecomX_limpio[col] = df_telecomX_limpio[col].replace({'yes': 1, 'no': 0}).astype('int64')

  print(f"‚úÖ {df_telecomX_limpio[col].value_counts(dropna=False)}\n")
"""
print()

In [299]:
#display(df_telecomX_limpio.head(2))

#üìä **Carga y an√°lisis.**

#üìÑ**Informe final.**